body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f1f2f7;
    height: 100%;
    width: 100%;

}




a {
    color: #777;
    text-decoration: none;
}

.padding-top {
    padding-top: 20px;
}

.login-page {
    width: 350px;
    margin: 5% 40% 6% auto;
    padding: 0 20px;
    background-color: #f9f9f9;
    border: 1px solid #f2f2f2;
}

.login-page .text-center {
    margin-bottom: 10px;
}

.box {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #f2f2f2;
}

.page {
    position: relative;
    display: block;
    top: 50px;
    left: 0;
    padding: 35px 15px 20px 270px;

}

.page-lgn {
    position: relative;
    display: block;
    top: 50px;
    left: 0;
    padding: 35px 15px 20px 270px;
}

.bg-green {
    background-color: #477501;
}

.bg-blue {
    background-color: #7ACBEE;
}

.bg-yellow {
    background-color: #FDD761;
}

.bg-red {
    background-color: #FF7857;
}

.bg-secondary1 {
    background-color: #b17897;
}

.bg-blue2 {
    background-color: #7a83ee;
}



.panel-default>.panel-heading {
    background-color: #f5f5f5;
    border-bottom: 2px solid #3498DB;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 15px;
}

.panel.panel-box {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    border: 2px solid #807d7d;

    border-radius: 5px;
    /* Optional: Add rounded corners */
}

.panel-value {
    width: 60%;
}

.panel-icon {
    padding: 30px;
    width: 40%;
    border-radius: 0;
}

.panel-icon {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.panel-value {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.panel-value h2 {
    margin-top: 30px;
}

.panel-icon i {
    line-height: 65px;
    font-size: 40px;
    color: #fff;
}

#header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #E981A4;
    width: 100%;
    height: 65px;
    line-height: 65px;


}

header>.logo {
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    width: 250px;
    background-color: #E981A4;
    border-right: 2px solid #474545;
    /* You can change the color and thickness */
}

.header-date {
    color: #fff2f2;
    margin-left: 20px;
}

.info-menu {
    height: 60px;
    margin: 0;
    line-height: 60px;
    padding: 0 15px;
}

.info-menu li.profile {
    position: relative;
}

.profile a.toggle {
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: rgba(150, 150, 158, 1.0);
    position: relative;
    padding: 10px 10px 10px 0;
    margin: 0;
    background: #f9f9f9;
    border-radius: 30px;
}

.info-menu li.profile a img {
    width: 30px;
    height: 30px;
}

.dropdown-menu {
    margin-top: 4px;
    border-color: #fefefe;
    border-radius: 0;
    box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -moz-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -webkit-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
}

.dropdown-menu li {
    margin: 0;
    padding: 0;
    display: block;
    line-height: 35px;
}

.dropdown-menu li a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    position: relative;
    line-height: 30px;
    width: 100%;
    border-bottom: 1px solid #f4faf9;
}

.dropdown-menu li a i {
    margin-right: 5px;
}

.dropdown-menu li.last a {
    border-bottom: 0;
}

.datepicker {
    text-align: center;
}

.sidebar {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 65;
    padding: 65px 0 0;
    height: 100%;
    width: 250px;
    background: #FFFFFF;
    border-right: 1px solid #ddd;
    text-align: center;
}
.sidebar ul li.active > a {
    background-color: #f5f5f5; /* same hover color or something soft */
    color: #E981A4;
}

.sidebar ul li.active > a i {
    color: #E981A4;
}

.main-content {
    margin-left: 270px;
    /* Push the content to the right of the sidebar */
    padding-top: 70px;
    /* Account for the fixed header */
    padding: 20px;


}

.sidebar ul li:hover,
.submenu ul li:hover {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    display: block;
}

.sidebar ul li:hover,
ul.submenu {
    background-color: #FFFFFF;
}

.sidebar ul li a:hover {
    color: #E981A4;
}

.sidebar ul li a,
ul.submenu li a {
    color: #122E40;
    display: block;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    text-align: left;
}

.sidebar ul li a span,
.sidebar ul li i {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-shadow: 0 1px rgba(0, 0, 0, 1);
}

.sidebar ul li a i {
    color: #F9ADB7;
    padding: 15px 22px;
    text-align: center;
}

ul.submenu {
    display: none;
    position: relative;
}


ul.submenu li a {
    padding-left: 45px;
}

ul.submenu li:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 25px;
    top: 0;
    bottom: 0;
    border: 1px dotted #d7d7d7;
    border-width: 0 0 0 1px;
}

ul.submenu li a:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 7px;
    left: 25px;
    top: 18px;
    border-top: 1px dotted #d7d7d7;
}

.sale_report_header {
    padding: 15px 0;
}

table td h6 {
    margin: 0 0 0.2em 0;
}

table tfoot tr td:first-child {
    border: 0;
}

table tfoot tr td:last-child {
    border-top: 1px solid #ccc;
}

table td h6,
table tfoot tr td:last-child {
    color: #000;
    _font-size: 1.2em;
    font-weight: normal;
}



.form-control {
    color: #646464;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.form-control:focus {
    background: #f8f8f8;
    border-color: #3498DB;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.category-page-row {
    display: flex;
    flex-wrap: wrap;

    gap: 5 !important;
    margin-top: 20px;
    width: 100%;

}



/* Clearfix for floats */
.category-page-row::after {
    content: "";
    clear: both;
    display: table;
}




.category-page-row .left-panel {
    flex: 1 1 45%;
    /* Take 45% of the container width */
    min-width: 350px;
    /* Prevent it from becoming too small */
    max-width: 600px;
    box-sizing: border-box;
    /* Include padding in width */


}

/* Right panel (All Categories Table) */
.category-page-row .right-panel {
    flex: 1 1 50%;
    /* Take 50% of the container width */
    min-width: 500px;
    /* Prevent it from becoming too small */
    max-width: 880px;
    /* Prevent it from becoming too wide */
    box-sizing: border-box;
    /* Ensure padding is included in width */
    margin-left: 80px;

}


.left-panel {
    margin-left: 300px;
}

table,
th,
td {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    table-layout: fixed;
}

/* Table responsive styling */
.table-responsive {
    overflow-x: auto;
    /* Allow horizontal scrolling for the table */
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on iOS */
    margin-bottom: 20px;
    /* Space below the table */
    width: 100%;
    /* Ensure full width inside the panel */
}





.btn {
    border-radius: 3px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #51aded;
    border-color: #3d8fd8
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
    color: #fff;
    background-color: #3175b8;
    border-color: #3d8fd8
}

.btn-success {
    background-color: #2ecc71
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
    background-color: #27ae60
}

.btn-warning {
    background-color: #e7c13e;
    border-color: #dfba3c;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
    background-color: #d0ac2c;
    border-color: #dfba3c;
}

.btn-danger {
    background-color: #ed5153
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
    background-color: #bb282a
}

.input-group-addon {
    background-color: #fcfcfc;
    border: 1px solid #dbdbdb;
    border-radius: 0;
}

input[type=file] {
    text-indent: -99999px;
}

td img.img-thumbnail {
    width: 125px;
    height: 125px;
    vertical-align: top;
}

.img-avatar {
    width: 50px;
    height: 50px;
}

.jumbotron {
    margin-bottom: 0;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.profile .jumbotron {
    border-radius: 3px 3px 0 0;
}

.profile .jumbotron h3 {
    color: white;
}

img.img-size-2 {
    width: 125px;
    height: 125px;
}

.custom-col-md-12 {
    width: 82%;
    /* Adjust this as needed */
    margin-left: 300px;

}

.custom-col-md-8 {
    width: 50%;
    /* Adjust this as needed */
    margin-left: 600px;
}

.row .custom-col-md-6 {
    width: 40%;

    margin-left: 600px;
}

.report-custom-col-md-12 {
    border: solid pink;
    width: 40%;
    margin-left: 600px;
}

.sale-create-custom-col-md-12 {
    width: 70%;
    margin-left: 400px;
}

.sale-index-custom-col-md-12 {
    width: 65%;
    margin-left: 480px;
    margin-top: 60px;

}
.user-page-row {

    justify-content: center;
    gap: 10px; /* Use px or rem for proper spacing units */
    width: 120%;
    margin-right: -5%;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Push it to center vertically */
}

.panel {
    width: 100%;
    max-width: 500px; /* Set max width for the form */
}

.breadcrumb {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 10px;
}

.breadcrumb .active {
    font-weight: bold;
}
.panel-box {
    padding: 15px;
    min-height: 100px;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.2s ease-in-out;
}

.panel-box .panel-icon {
    font-size: 1.5rem;
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    overflow-x: auto;
}


.panel-box .panel-value h2 {
    font-size: 2rem; 
    margin: 0;
}

.panel-box .panel-value p {
    font-size: 1.5rem; 
    margin: 0;
}
.panel-icon i {
    font-size: 2rem; /* Or 3rem for larger icons */
}
/* dashboard tables  */

.center-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
}

.center-form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
}

.center-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.center-form {
    width: 100%;
    max-width: 600px;
}

